


body{
  background-image: url(ClockAssets/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  display: flex;
  justify-content: center;
  min-height: 100svh;
  align-items: center;
}
.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding-top: 2px;
  padding-bottom: 2px;
  
  
}
.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.90);
 

}
.twentyfour-checkbox-container{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: monospace;
  color: white;
  text-align: center;
  padding-bottom: 0;
  padding-top: 0;
}

.checkbox-input{
   /* Add if not using autoprefixer */
   -webkit-appearance: none;
   /* Remove most all native input styles */
   appearance: none;
   /* For iOS < 15 */
   background-color: var(--form-background);
   /* Not removed via appearance */
   margin: 0;
 
   font: inherit;
   color: currentColor;
   width: 1.15em;
   height: 1.15em;
   border: 0.15em solid currentColor;
   border-radius: 0.15em;
   transform: translateY(0.5em);
   transform: translateX(39.25em);
 
   display: grid;
   place-content: center;
}

.checkbox-input::before{
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: top;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  /* Windows High Contrast Mode */
  background-color: CanvasText;


}

.checkbox-input:checked::before{
  transform: scale(1);
}

.form-control + .form-control{
  margin-top: 1em;
}
.checkbox-input:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}






